$teal: #8EC6C5;
$purple: #8566AA;
$sitka: 'Sitka';

//
// GLOBALS
//

body, html {
  font-family: 'Segoe UI', sans-serif;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  color: white;
}

.subtitle {
  border-left: 6px solid $purple;
  padding-left: 4px;
  font-family: $sitka;
}

//layout

.frame {
  margin: 0 auto;
}

.col-50, .col-30, .col-60 {
  clear: both;
  margin: 0;
  padding: 12px 0px;
  display: inline-block;
}

//nav

.nav-wrapper {
  background-color: $teal;
  color: white;
}

nav a {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
}

nav a:visited, a:visited {
  color: white;
}

.svg-cont {
  margin: 0px;
  padding: 0px;
}

.nav-fb path {
  fill: white;
}

#bio-photo {
  border: 4px solid $teal;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  height: 100%;
}

.drop-shadow {
  box-shadow: -8px 8px 0px $purple;
}

//
// DESKTOP
//

@media screen and (min-width: 780px) {

  //layout

  .frame {
    max-width: 1280px;
    padding: 24px;
    width: 100%;
  }
  .col-60 {
    width: 66%;
  }
  .col-50 {
    width: 50%;
  }
  .col-30 {
    width: 33%;
  }
  .mobile {
    display: none;
  }

  //nav

  nav {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 24px;
  }
  nav a {
    margin-right: 12px;
  }
  .nav-link {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    top: -26px;
  }
  .svg-cont {
    display: inline-block;
    padding-right: 24px;
  }
  .nav-links {
    position: relative;
  }
  .svg-cont img {
    height: 72px;
  }
  .nav-wrapper {
    height: 74px;
  }
  .nav-fb {
    position: absolute;
    right: 0px;
    top: 24px;
  }

  //contact

  .contact {
    width: 240px;
    height: 120px;
    background-color: $purple;
    position: absolute;
    top: 80px;
    right: 8px;
    color: white;
    border-radius: 12px 0px 12px 12px  ;
    -webkit-border-radius: 12px 0px 12px 12px  ;
    -moz-border-radius: 12px 0px 12px 12px  ;
    -ms-border-radius: 12px 0px 12px 12px  ;
    -o-border-radius: 12px 0px 12px 12px  ;
  }
  .contact svg path {
    fill: white;
  }
}

//
// MOBILE
//

@media screen and (max-width: 779px) {

  //layout

  .desktop {
    display: none;
  }
  .frame {
    padding: 12px;
    width: 100%;
  }
  .col-60, .col-50, .col-30 {
    width: 100%;
  }
  .svg-cont {
    display: inline-block;
  }

  //nav

  .mobile-nav {
    height: 50px;
  }
  .nav-open {
    display: inline-block;
    font-size: 32px;
    padding: 0px 12px;
    position: relative;
    top: -8px;
    cursor: pointer;
  }
  .nav-wrapper {
    padding: 8px;
  }
  .mobile-menu {
    height: 100vh;
    width: 100vw;
    padding: 24px;
    background-color: $teal;
    position: absolute;
    top: 0px;
    z-index: 2;
    left: -100vw;
    transition: left 0.2s ease-in-out;
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -ms-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
  }
  .mobile-menu a {
    display: block;
  }
  .svg-cont img {
    height: 50px;
  }
}
