$teal: #8EC6C5;
$purple: #8566AA;
$sitke: 'Sitka';

body {
  font-family: 'Segoe UI', sans-serif;
  width: 100vw;
}

.frame {
  margin: 0 auto;
  //display: flex;
}

.col-50, .col-30 {
  clear: both;
  margin: 0;
  padding: 12px 0px;
  display: inline-block;
}


@media screen and (min-width: 780px) {
  .frame {
    max-width: 1280px;
    padding: 24px;
    width: calc(100% - 48px);
  }
  .col-50 {
    width: 50%;
    flex-basis: 50%;
  }
  .col-30 {
    width: 33%;
    flex-basis: 33%;
  }
}

// @media screen and (max-width: 740px) {
//   .frame {
//     padding: 24px;
//   }
// }

@media screen and (max-width: 779px) {
  .frame {
    padding: 12px;
    width: calc(100% - 24px);
  }
  .col-50 {
    width: 100%;
    flex-basis: 100%;
  }
  .col-30 {
    width: 100%;
    flex-basis: 100%;
  }
}
